body 
{background: lightblue;}

.photo, .photo2 
{border: 2px solid; border-radius: 10%; border-color: rgb(97, 42, 94);}

#title, .subtitle, .post_title, .posts_below 
{color: rgb(55, 48, 70);}
 
.subtitle, .post_title 
{font-size: 19px; font-style: italic;}

.first_post, .post 
{background: rgb(88, 105, 180); margin: 0; margin-bottom: 15px; padding-left: 10px; padding-top: 0px;
border: 2px rgb(97, 42, 94); border-style: solid; border-radius: 10px;}

ul li a {color: blue;}
